.radio-buttons input[type="radio"] {
  display: inline-block;
}

.radio-buttons {
  white-space: nowrap;
  margin-right: 40%;
  margin-bottom: 5%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

