.layout {
  width: 90%;
  margin-left: 5%;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 2%;
}

.card-container {
  width: 100%;
  box-shadow: 0px 0px 15px #3b3456 !important;
  transition: all 0.5s ease;
}

.card-container:hover {
  transform: translateY(-10px);
}

.btn {
  background: #3b3456 !important;
  border: 1px solid white !important;
  cursor: pointer;
}


